{{my-application model=model
                signOut="signOut"
                seeProfile="seeProfile"}}

<!-- <h1>Encore!</h1>
<div>
  <ul>
      <li>New Project</li>
      <li>In Progress Projects</li>
      <li>Completed Projects</li>
  </ul>
</div> -->
{{outlet}}
