{{my-application signOut="signOut"
                seeProfile="seeProfile"}}

<!-- <h1>Encore!</h1>
<div>
  <ul>
    {{#if isAuthenticated}}
      <li>New Project</li>
      <li>In Progress Projects</li>
      <li>Completed Projects</li>
    {{/if}}
  </ul>
</div>

{{outlet}} -->
