<!-- {{notebook-main/tasks model=model
                      id=model.id
                      newItem="create"}} -->

<button {{action "test" model}} class="btn btn-primary">
  test</button>

{{model.id}}
