<h2>This is a project template</h2>

<ul>
{{#each model as |project|}}
  {{projects-all project=project
                  view="view"}}
{{/each}}
</ul>

<button {{action "newProject"}} class="btn btn-primary">
  New Project</button>
