<ul>
{{#each model.projects as |project|}}
  {{projects-all project=project
                  view="view"}}
{{/each}}
</ul>

<button {{action "newProject"}} class="btn btn-primary">
  New Project</button>

{{outlet}}
