<div class="single-project return">
  <h5>{{project.name}}</h5>
<label for="genre">Genre:</label>
{{project.genre}} <br>
<label for="description">Description:</label>
{{project.description}} <br>
<label for="completed"> Status: </label>
  {{#if model.completed}}
    Completed
    {{else}}
    In progress
  {{/if}} <br>
</div>
