

<ul>
  <!-- <li>{{#link-to 'items'}}Task List{{/link-to}}</li>
  <li>To Do List</li> -->
  <li>{{#link-to 'items'}}To Do List{{/link-to}}</li>
  <li>Bookmarks</li>
  {{model.name}}
</ul>

notebookkkkk
{{model.id}}
